.places__place__website {
    align-self: end;
    max-width: 456px;
}

@media (max-width: 1023px) {
    .places__place__website {
        max-width: 352px;
    }
}

@media (max-width: 767px) {
    .places__place__website {
        max-width: 288px;
    }
}