.cover__link {
    text-decoration: none;
    margin: 92px auto 0;
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    min-height: 740px;
    width: 1184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.cover__link::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity .4 ease;
}

.cover__link:hover::before {
    opacity: 0.8;
}

 @media (max-width: 1279px) {
    .cover__link {
        width: 1024px;
        min-height: 640px;
    }
}

@media (max-width: 1023px) {
    .cover__link {
        margin-top: 90px;
        width: 768px;
        min-height: 480px;
    }
}

@media (max-width: 767px) {
    .cover__link {
        margin-top: 66px;
        width: 320px;
        min-height: 200px;
    }
}