.lead__polka__image {
    margin: 64px 0 0;
    width: 984px;
}

@media (max-width: 1279px) {
    .lead__polka__image {
        margin: 56px 0 0;
        width: 928px;
    }
}

@media (max-width: 1023px) {
    .lead__polka__image {
        width: 100%
    }
}

@media (max-width: 767px) {
    .lead__polka__image {
        width: 100%;
        margin: 40px 0 0;
    }
}