.places__text-paragraph {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.places__text-paragraph:nth-child(2) {
    margin-top: 26px;
}

@media (max-width: 1023px) {
    .places__text-paragraph {
        font-size: 16px;
    }

    .places__text-paragraph:nth-child(2) {
        margin-top: 25px;
    }
}

@media (max-width: 767px) {
    .places__text-paragraph {
        font-size: 16px;
    }

    .places__text-paragraph:nth-child(2) {
        margin-top: 25px;
    }
}